.App {
  text-align: center;

}

h1{
    font-weight: bold;
    
}

h3{
    text-decoration: underline;
}
#square h1{
    font-size: 90px;
}



#Board div{
    min-width: 33.33%;
    font-family: 'Indie Flower';
    justify-content: center;
    vertical-align: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    min-height: 33.33%;
    padding: -5px;



}

#Board {
width: 400px;
height: 400px;
display: flex;
margin: auto auto;
flex-wrap: wrap;
margin-top: 20px;
overflow: hidden;
border: white 5px solid;
border-width: thick;

background-image: url(http://leversetdujour.info/attachment/full/tic-tac-toe-board/bill-the-lizard-tictactoe.jpg);
background-position: center ;
background-size: cover;








}
