.App {
  text-align: center;

}



#square h1{
    font-size: 80px;
}



#Board div{
    min-width: 33.33%;
    border: 5px black solid;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    min-height: 33.33%



}

#Board {
width: 400px;
height: 400px;
display: flex;
margin: auto auto;
flex-wrap: wrap;
margin-top: 20px;
overflow: hidden;







}
